
<h4>Search For event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ShowSearchResults">
            <div class="form-group">
                <label name="SearchPhrase" class="control-label"></label>
                <input name="SearchPhrase" class="form-control" />
 
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
            <br />
        </form>
 
    </div>
</div>

<div>
    <button class="btn btn-dark"><a class="text-decoration-none text-white" asp-action="Index">Back to List</a></button>
</div>