html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #F6F7FF;
    background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/bce8a293783231.62642905ab2b0.gif");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

body, h1, h2, h3, h4, h5, h6, a {
    font-family: 'Rowdies', cursive;
}

input {
   margin-top: 10px;
   margin-bottom: 10px
}

a{
    text-decoration: none;
    color: aliceblue;
}